.catalog {
  margin-bottom: 6px;
}

.catalog__title {
  padding-top: 15px;
  padding-bottom: 28px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.catalog__list {
  display: block;
  padding: 0;

  list-style: none;
}

.catalog__content {
  display: flex;
}

.catalog__item {
  padding: 0 20px 24px 20px;

  border: 1px solid #ededed;
  border-bottom: none;

  &:last-child {
    border-bottom: 1px solid #ededed;
  }
}

.catalog__info {
  width: 100%;
  padding-top: 21px;
}

.catalog__item-title {
  width: 100px;
  margin: 0;
  margin-bottom: 13px;

  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog__item-link {
  color: #111111;
}

.catalog__tabel {
  width: 103%;
  border-collapse: collapse;
  margin-left: -1px;
}

.catalog__indicator,
.catalog__value {
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.catalog__value {
  width: 100%;
  text-align: right;
}

.catalog__order-link {
  width: auto;

  padding: 10px 0;
}

.catalog__more-tagline {
  position: relative;

  padding-top: 53px;
  margin-top: 26px;
  margin-bottom: 7px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-align: center;
  text-transform: uppercase;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 50%;

    width: 30px;
    height: 30px;
    margin-left: -15px;

    background-image: url("../../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
  }
}

.catalog__more-offer {
  margin: 0;
  margin-bottom: 22px;

  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
}

@media (min-width: 768px) {
  .catalog {
    margin-bottom: 30px;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
  }

  .catalog__item {
    width: 324px;
    margin-right: 60px;
    margin-bottom: 4px;
    margin-top: 136px;
    padding: 40px 38px 40px 38px;

    border: none;
    background-color: #f2f2f2;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .catalog__content {
    display: block;
  }

  .catalog__pic {
    position: relative;
    bottom: 121px;

    max-width: none;
    width: auto;
    height: 208px;
    margin-left: -38px;
    margin-bottom: -107px;

    &--small {
      height: 172px;
      margin-top: 36px;
    }
  }

  .catalog__info {
    margin-bottom: 31px;
  }

  .catalog__item-title {
    width: 140px;
    margin: 0 auto;
    margin-bottom: 20px;

    font-size: 20px;
    text-align: center;
  }

  .catalog__tabel {
    width: 100%;
  }

  .catalog__feature {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 8px;

    border-bottom: 1px solid #cdcdcd;
  }

  .catalog__indicator,
  .catalog__value {
    font-size: 16px;
  }

  .catalog__more {
    padding-top: 54px;

    background: none;
    border: 1px solid #ededed;
  }

  .catalog__more-tagline {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 110px;

    font-size: 20px;

    &::before {
      width: 60px;
      height: 60px;
      margin-left: -30px;

      background-image: url("../../img/icon-plus.svg");
    }
  }

  .catalog__more-offer {
    width: 180px;
    margin: 0 auto;
    margin-bottom: 82px;

    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 1300px) {
  .catalog {
    margin-bottom: 38px;
  }

  .catalog__list {
    padding: 0 40px;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 6px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .catalog__info {
    margin-bottom: 32px;
  }

  .catalog__item-title {
    margin-bottom: 18px;
  }

  .catalog__feature {
    padding-bottom: 9px;
  }

  .catalog__more-tagline {
    padding-top: 108px;
    margin-bottom: 24px;
  }

  .catalog__more-offer {
    margin-left: -7px;
  }

  .catalog__more-link {
    width: 169px;
  }
}
