.categories {
  margin-bottom: 17px;
}

.categories__item {
  padding: 7px 20px 20px 20px;
  margin-bottom: 20px;

  background-color: #f2f2f2;

  &:last-child {
    margin-bottom: 0;
  }
}

.categories__title {
  position: relative;

  padding-left: 71px;
  margin-bottom: 28px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  &::before {
    content: "";

    position: absolute;
    left: 2px;
    top: 50%;

    display: block;
    width: 50px;
    height: 50px;
    margin-top: -25px;

    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    content: "";

    position: absolute;
    left: 2px;
    top: 50%;

    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--slim::after {
    width: 35px;
    height: 49px;
    margin-top: -27px;
    margin-left: 8px;

    background-image: url("../../img/icon-cat-slim.svg");
  }

  &--pro::after {
    top: 51%;
    left: 0;

    width: 67px;
    height: 28px;
    margin-top: -16px;
    margin-left: -7px;

    background-image: url("../../img/icon-cat-pro.svg");
  }
}

.categories__desc {
  padding-bottom: 22px;
  margin-bottom: 18px;

  font-size: 14px;
  line-height: 18px;
  color: #444444;

  border-bottom: 1px solid #d9d9d9;
}

.categories__link {
  position: relative;

  padding-right: 36px;

  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;

    width: 24px;
    height: 11px;
    margin-top: -5px;

    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    padding-right: 46px;

    &::after {
      width: 33px;

      background-image: url("../../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  .categories {
    margin-bottom: 45px;
  }

  .categories__item {
    padding: 77px 35px 60px 53px;
    margin-bottom: 30px;
  }

  .categories__title {
    padding-left: 0;
    margin: 0;
    margin-bottom: 24px;

    font-size: 36px;

    &::before {
      left: 394px;
      top: 42%;

      width: 200px;
      height: 200px;
      margin-top: -1px;
    }

    &::after {
      left: 391px;
      top: 50%;
    }

    &--slim::after {
      width: 140px;
      height: 194px;
      margin-top: -15px;
      margin-left: 32px;
    }

    &--pro::after {
      width: 268px;
      height: 112px;
      margin-top: 40px;
      margin-left: -31px;
    }
  }

  .categories__desc {
    width: 380px;
    margin-bottom: 35px;

    font-size: 16px;
    line-height: 24px;

    border: none;

    &--pro {
      width: 340px;
    }
  }

  .categories__link {
    padding-right: 47px;

    font-size: 20px;
    line-height: 20px;

    &:hover,
    &:focus {
      padding-right: 56px;
    }
  }
}

@media (min-width: 1300px) {
  .categories {
    margin-bottom: 75px;
  }

  .categories__content {
    display: flex;
    justify-content: space-between;
  }

  .categories__item {
    width: 570px;
    padding: 40px 52px 60px 53px;
    margin-bottom: 0;
  }

  .categories__title {
    padding-left: 162px;
    margin-bottom: 73px;

    font-size: 36px;

    &::before {
      left: 0;

      width: 100px;
      height: 100px;
      margin-top: -48px;
    }

    &--slim::after {
      left: 0;

      width: 70px;
      height: 97px;
      margin-top: -53px;
      margin-left: 14px;
    }

    &--pro::after {
      width: 134px;
      height: 56px;
      margin-top: -27px;
      margin-left: -18px;
    }
  }

  .categories__desc {
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .categories__link {
    padding-right: 47px;

    font-size: 20px;
    line-height: 20px;

    &:hover,
    &:focus {
      padding-right: 56px;
    }
  }
}
