@media (min-width: 1300px) {
  .first-screen {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;

      width: 50%;
      height: 100%;

      background-image: url("../../img/index-background-desktop@1x.jpg");
      background-color: #65a93c;
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../../img/index-background-desktop@2x.jpg");
      }
    }
  }
}
