.htmlacademy__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.htmlacademy__name {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.htmlacademy__logo {
  width: 41px;
  height: 48px;
  margin-right: -8px;
}

@media (min-width: 768px) {
  .htmlacademy__logo {
    margin-left: 16px;
  }
}
