.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px 12px 20px;
  width: 320px;
  margin: 0 auto;
}

.main-header__toggle-menu {
  width: 24px;
  height: 18px;
  padding: 0;
  margin: 0;

  border: none;
  background-image: url("../../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--close {
    background-image: url("../../img/icon-close.svg");
  }
}

@media (min-width: 768px) {
  .main-header {
    padding-top: 26px;
    margin-bottom: 40px;
  }

  .main-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .main-header__container {
    width: 192px;
    margin: 0;
    padding: 0;
  }

  .main-header__toggle-menu {
    display: none;
  }
}

@media (min-width: 1300px) {
  .main-header {
    padding-top: 55px;
    margin-bottom: 57px;
  }

  .main-header__container {
    width: auto;
  }

  .main-header__content {
    width: 1300px;
    padding: 0 40px;
  }
}
