.main-footer {
  padding-top: 24px;

  background-color: #f2f2f2;
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.main-footer__social {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .main-footer {
    padding-top: 50px;
    padding-bottom: 53px;
  }

  .main-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logo {
    width: 128px;
    height: 24px;
    margin: 0;
  }

  .main-footer__social {
    margin: 0;
    margin-left: 21px;
  }
}

@media (min-width: 1300px) {
  .main-footer {
    padding-top: 50px;
  }
}
