.main-footer {
  padding-top: 22px;

  background-color: #f2f2f2;
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.main-footer__social {
  margin-bottom: 15px;
}
