.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 19px;
  margin-left: -5px;

  list-style: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__item {
  margin-right: 35px;

  &--second {
    margin-right: 40px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  background-repeat: no-repeat;
  background-position: center;

  &--vk {
    width: 22px;
    height: 12px;
    background-image: url("../../img/icon-vk-mobile.svg");
  }

  &--inst {
    width: 16px;
    height: 16px;

    background-image: url("../../img/icon-insta-mobile.svg");
  }

  &--fb {
    width: 10px;
    height: 19px;

    background-image: url("../../img/icon-fb-mobile.svg");
  }
}

@media (min-width: 768px) {
  .main-footer__logo {
    margin: 0;
  }

  .social {
    width: 124px;
    padding: 0;
    margin: 0;

    border: none;
  }

  .social__item {
    margin-right: 28px;
  }

  .social__link {
    &--vk {
      width: 30px;
      height: 16px;
      background-image: url("../../img/icon-vk.svg");
    }

    &--inst {
      width: 23px;
      height: 23px;

      background-image: url("../../img/icon-insta.svg");
    }

    &--fb {
      width: 14px;
      height: 28px;

      background-image: url("../../img/icon-fb.svg");
    }
  }
}
