.usp {
  padding-top: 27px;
  margin-bottom: 23px;

  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 320px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../../img/index-background-mobile@2x.jpg");
  }
}

.usp__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.usp__tagline {
  margin-bottom: 28px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.usp__img {
  margin-bottom: 1px;
}

@media (min-width: 768px) {
  .usp {
    margin-bottom: 30px;

    background-image: none;
  }

  .usp__container {
    position: relative;

    padding-bottom: 500px;
    padding-left: 118px;
    margin-top: -11px;
  }

  .usp__title {
    width: 427px;
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
    color: #111111;
    text-align: left;
  }

  .usp__tagline {
    width: 427px;
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
  }

  .usp__img {
    position: absolute;
    z-index: -1;
    left: 30px;
    bottom: -32px;

    width: 709px;
    height: 609px;
    object-fit: contain;
  }

  .usp__button {
    font-size: 20px;
  }
}

@media (min-width: 1300px) {
  .usp {
    margin-bottom: 80px;
    padding-top: 59px;
  }

  .usp__container {
    padding-bottom: 189px;
    padding-left: 120px;
  }

  .usp__tagline {
    margin-bottom: 54px;
  }

  .usp__img {
    z-index: 0;
    left: 490px;
    bottom: 50%;

    width: 552px;
    height: 499px;
    margin-bottom: -183px;
  }
}
